<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.modu.reader.smsprobe">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:label="Modu SMS test probe" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="true" />
        <receiver android:name=".ProbeReceiver" android:exported="true" />
    </application>
</manifest>
